{% extends "base.html" %}
{% block title %}À propos{% endblock %}
{% block content %}
<h2>À propos d'AgriScan Pro</h2>
<p>AgriScan Pro est une application développée par "Yousra Ameur" pour détecter les maladies des plantes grâce à l'intelligence artificielle.</p>
<ul>
<li>Utilisation de MobileNetV2 avec transfert learning.</li>
<li>Framework Flask pour une interface web moderne.</li>
<li>Dataset PlantVillage pour l’entraînement.</li>
</ul>
<p>Projet réalisé dans le cadre du cursus à l'Euro-Mediterranean University of FES.</p>
{% endblock %}
